.categories__link {
  cutrsor: pointer;
}

.render-container--categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.top-container {
  align-items: center;
}

.categories__item + .categories__item {
  margin-left: 16px;
}

.categories__item {
  text-align: center;
  border-radius: 20px;
  padding: 7.5px 13px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid var(--second-additional--text-color);
  color: var(--second-additional--text-color);
  background-color: var(--main--background-color);

  &:hover {
    background-color: var(--second-additional--text-color);
    color: var(--main--background-color);
  }
}

.filter-category__others-button {
  color: var(--second-additional--text-color);
  background-color: var(--main--background-color);
  border: 1px solid var(--second-additional--text-color);
  border-radius: 20px;
  padding: 7.5px 13px;
  font-size: 12px;
  line-height: 16px;
  margin-left: 16px;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &:hover {
    background-color: var(--second-additional--text-color);
    color: var(--main--background-color);
  }
}
