.categories__link {
  cutrsor: pointer;
}

.categories-render-container {
  display: flex;
  flex-direction: row;
}

.top-container {
  align-items: center;
  display: flex;
  margin-top: 28px;
  margin-bottom: 60px;

  @include mq(mobile-only) {
    justify-content: space-around;
    align-items: baseline;
  }
}

.categories__item + .categories__item {
  margin-left: 16px;
}

.categories__link {
  text-align: center;
  border-radius: 20px;
  padding: 7.5px 13px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid var(--second-additional--text-color);
  color: var(--second-additional--text-color);
  background-color: var(--main--background-color);
  cursor: pointer;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--second-additional--text-color);
    color: var(--main--background-color);
  }
}

.categories__link_other {
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--second-additional--text-color);
  text-decoration: none;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.other-categories__button {
  display: flex;
  color: var(--second-additional--text-color);
  background-color: var(--main--background-color);
  border: 1px solid var(--second-additional--text-color);
  border-radius: 20px;
  padding: 7.5px 13px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 100%;

  cursor: pointer;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--second-additional--text-color);
    color: var(--weather--text-color);
  }
}

.categories-render-container__other-categories {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 111px;

  @include mq(mobile-only) {
    margin-right: 0px;
  }
}

.other-categories__icon-arrow {
  margin-left: 5px;
  &.switched {
    fill: var(--additional-accent--text-color);
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotateX(180deg);
  }
}

.other--categories__filters {
  z-index: 2;
  pointer-events: none;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}

.other--categories__filters-list {
  width: 148px;
  height: 380px;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 14px;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  text-align: start;
  position: absolute;
  top: 20px;
  right: -90px;
  pointer-events: all;
  display: none;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: scroll;

  &.is-hidden {
    display: block;
  }

  @include mq(mobile-only) {
    right: -100px;
  }
}

.filter-category__item-tablet {
  & + .filter-category__item-tablet {
    margin-top: 12px;
  }
  @include mq(mobile-only) {
    display: none;
  }
}

.categories-render-container__list-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    display: none;
  }
}

.categories-render-container__list-mobile {
  display: none;
  @include mq(mobile-only) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @include mq(tablet-only) {
    display: none;
  }
}

.categories-render-container__list-tablet {
  display: none;
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.filter-category__item-desktop {
  & + .filter-category__item-desktop {
    margin-top: 16px;
  }
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    display: none;
  }
}
