.header__form-wrap {
  display: flex;
  align-items: center;
}

.search-form {
  position: relative;
  margin-left: auto;
}

.search-form__btn {
  fill: var(--main--text-color);
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 31px;
  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-form__input {
  background-color: var(--main--background-color);
  border-color: var(--main--border-color);
  color: var(--main--text-color);
  max-width: 173px;
  min-width: 130px;
  height: 31px;

  font-size: 12px;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 48px;

  border-radius: 20px;
  outline: transparent;

  @include mq(tablet) {
    min-width: 213px;
    font-size: 14px;
  }

  @include mq(desktop) {
    min-width: 288px;
  }
}


.search-form__label {
  pointer-events: none;
  position: absolute;
  left: 48;
  top: 50%;
  transform: translateY(-50%);

  font-family: 'Poppins';
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--main--text-color);
  opacity: 0.4;

  border-right: 1px solid var(--main--text-color);
  padding-right: 8px;

  @include mq(tablet) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.search-form__input:focus+.search-form__label {
  opacity: 0;
}

.header__search-form-opening-btn {
  margin-left: auto;

  @include mq(tablet) {
    display: none;
  }
}

.menu-button-burger {
  margin-left: 14px;
  &.toggle-icon {
    svg:last-of-type {
        display: block;
      }
      svg:first-of-type {
        display: none;
      }
  }

  svg:last-of-type{
    display: none;
  }

  @include mq(tablet) {
    display: none;
  }
}


.negative {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 59px;

  @include mq(tablet-only) {
    margin-top: 48px;
    margin-bottom: 101px;
  }

  @include mq(desktop) {
    margin-top: 15px;
    margin-bottom: 60px;
  }
}

.negative___title {
  font-family: Manrope;
  font-weight: 700;
  color: var(--text-color);
  font-size: 20px;
  line-height: 27px;
  width: 276px;
  @include mq(tablet-only) {
    width: 548px;
    font-size: 40px;
    line-height: 55px;
  }
  @include mq(desktop) {
    width: 548px;
    font-size: 40px;
    line-height: 55px;
  }
}

.negative___picture {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: auto;
  @include mq(tablet-only) {
    width: 100%;
  }

  @include mq(desktop) {
    width: 100%;
  }
}

