.search-form {
  display: none;
  position: relative;
  margin-left: auto;
  @include mq(tablet) {
    display: block;
  }
  
}

.search-form__input {
  width: 173px;
  height: 31px;

  font-size: 14px;

  padding-top: 6.5px;
  padding-bottom: 6.5px;
  padding-right: 12px;
  padding-left: 115px;

  border-radius: 20px;
  border: 1px solid var(--text-color);
  outline: transparent;

  @include mq(tablet) {
    width: 213px;
  }
  @include mq(desktop) {
    width: 288px;
  }
}

.search-form__label {
  position: absolute;
  left: 48;
  top: 8px;

  font-family: 'Poppins';
  font-size: 12px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  color: var(--text-color);
  opacity: 0.4;

  border-right: 1px solid var(--text-color);
  padding-right: 8px;

  @include mq(tablet) {
    font-size: 14px;
    top: 7;
  }
}

.search-form__btn {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 31px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.header__search-form-opening-btn {
  margin-left: auto;
  @include mq(tablet) {
    display: none;
  }
}

.menu-button {
  margin-left: 14px;
  
    @include mq(tablet) {
      display: none;
    }
}
