.header__form-wrap {
  display: flex;
  align-items: center;
}

.search-form {
  position: relative;
  margin-left: auto;
}

.search-form__btn {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 31px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-form__input {
  
  height: 31px;

  font-size: 12px;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 48px;

  border-radius: 20px;
  border: 1px solid var(--text-color);
  outline: transparent;

  @include mq(tablet) {
    
    font-size: 14px;
  }

  @include mq(desktop) {
    
  }
}

.search-form__label {
  position: absolute;
  left: 48;
  top: 50%;
  transform: translateY(-50%);

  font-family: 'Poppins';
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--main--text-color);
  opacity: 0.4;

  border-right: 1px solid var(--main--text-color);
  padding-right: 8px;

  @include mq(tablet) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.search-form__input:focus+.search-form__label {
  opacity: 0;
}

.search-form__input:not(:placeholder-shown)+.search-form__label {
  opacity: 0;
}

.header__search-form-opening-btn {
  margin-left: auto;

  @include mq(tablet) {
    display: none;
  }
}

.menu-button-burger {
  margin-left: 14px;

  @include mq(tablet) {
    display: none;
  }
}

