.logo {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    color: var(--main--text-color);
    padding: 24px 0 24px 0;

    @include mq(tablet) {
        font-size: 32px;
        padding: 32px 0 28px 0;
    }

    @include mq(desktop) {
        font-size: 42px;
        line-height: 1.357;
    }
}