 .news__container-img{
    position:relative;
    height: 395px;

    @include mq(mobile) {
        width: 288px;
        }
    
      @include mq(tablet) {
        width: 353px;
      }
    
      @include mq(desktop) {
        width: 395px;
      }
}

 .news__img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 4px;
}

.news__item{
    position:relative;
}

.news__title{
    margin: 20px 16px
}
.news__abstract{
    margin: 0px 16px 0px 16px;
}

.news__favorite{
    margin: 12px 12px;
    padding: 6px 12px;

    background-color: var(--categories-background-color);
    border-radius: 20px;

    position: absolute;
    bottom: 0;
    right: 0;
}

.news__link{
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 16px;
    margin-bottom: 6px;

    color: var(--second-additional--text-color);
}

.news__date{
    position: absolute;
    bottom: 0;
    left: 0;

    margin-left: 16px;
    margin-bottom: 6px;
}

.was-read{
    opacity: 40%;
}

.was-read .news__Already-read{
        display: block;
        position: absolute;
        color:var(--already-read--text-color);
        opacity: 100%;
        right: 0;
        z-index: 2;

        margin: 20px 22px;
        font-weight: 700;
}

.news__Already-read{
        display: none;
}
.news__container{
}
.visible{
    display: inline;
}

.news__marker-search{
    position: absolute;
    top: 0;
    background-color: var(--category-on-news--background-color);
    color:var(--weather--text-color);
    
    padding: 4px 8px;
    margin-top: 44px;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.news__svg{
    display: inline;
    &-heart{
        margin-left:8px;
        width: 13.33px;
        height: 11.89px;
    }
    &-already-read{
        width: 17px;
        height: 13px;
    }
    
}
