.page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  background-color: var(--main--background-color);
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      height: 31px;
      margin-bottom: 100px;
      margin-top: 48px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 150px;
      margin-top: 60px;
    }
}

.pagin {
  display: flex;
  justify-content: center;
  height: 28px;
  width: 288px;
  @media screen and (min-width: 768px) {
    height: 31px;
    width: 415px;
  }
}

.page-container a{
  padding: 4px 12px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  color: var(--main--text-color);
}


.pg-item {
  :hover,
  :focus {
      color: var(--additional-accent--text-color);
      background-color: var(--accent--text-color);
    }
      border: 1px solid var(--accent--text-color);
      border-radius: 2px;
}

.page-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button.prev-page,
button.next-page {
  width: 82px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid var(--second-additional--text-color);
  border-radius: 2px;
}

button.prev-page{
  position: relative;
  width: 82px;
  margin-right: 6px;
}

button.next-page{
  position: relative;
  width: 78px;
  margin-left: 6px;
}

button.prev-page:hover,
button.next-page:hover {
  color: var(--weather--text-color);
  background-color: var(--accent--text-color);
}

 button:hover span {
  color: var(--additional-accent--text-color);
}

button:focus span {
  color: var(--additional-accent--text-color);
}

.page-container button:disabled{
  color: var(--main--text-color);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background-color: var(--main--background-color);
}

.page-container button:disabled{
  opacity: 0.5;
}

.icon-prew{
  position: absolute;
  top: 8px;
  left: 11px;
}

.icon-next {
  position: absolute;
  top: 11px;
  right: 11px;
}

button:hover .icon-prew,
button:hover .icon-next {
  fill: var(--additional-accent--text-color);
}


#pagination {
  display: flex;
  align-items: center;
}

#pagination li {
  list-style: none;
  cursor: pointer;
  overflow: hidden;
  margin: 0 4px;
}

#pagination .pg-item.active {
  background-color: var(--accent--text-color);
}

#pagination .pg-item.active a {
  color: var(--weather--text-color);
}

#pagination .pg-item a {
  text-decoration: none;
  padding: 4px auto;
  display: inline-block;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  pointer-events: none;
  color: var(--main--text-color);
}

#pagination .pg-item:hover {
  background-color: var(--accent--text-color);
}

#pagination .pg-item:hover a {
  color: var(--weather--text-color);
  background-color: var(--accent--text-color);
}

.s_prew {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}

.s_next {
  margin-right: 10px;
}

.pagination-hidden {
  display: none;
}

