
 //text-color  
 $main--text-color: #F4F4F4;
 $first-additional--text-color: #F4F4F4;
 $second-additional--text-color: #4440F6;
 $weather--text-color: #ffffff;
 $category-on-news--text-color: #FFFFFF;
 $already-read--text-color: #00DD73;
 $accent--text-color: #4440f6; //for hover,focus,accent
 $additional-accent--text-color: #FFFFFF; //for hover,focus,accent
 $calendar-inactive-color: #5F6775;

 
 //background-color
 $main--background-color:  #111321;
 $weather--background-color: #4440F7;
 $weather-buttons--background-color: rgba(254, 254, 255, 0.3);
 $category-on-news--background-color: rgba(68, 64, 247, 0.7);
 $already-read-news--background-color: rgba(244, 244, 244, 0.4);;
 $accent--background-color: #4B48DB; //for hover,focus,accent
 
 //border-color
 $main--border-color: #F4F4F4;
 $aditional--border-color: #4440F7;

 /* svg-color*/
 $calendar-button-arrow--svg-color:#F4F4F4;

