a,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

address {
  font-style: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  box-shadow: none;
}

.is-hidden {
  display: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  @include mq(tablet) {
    width: 320px;
  }
  @include mq(desktop) {
    width: 768px;
  }
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #111321;
  --white-color: #ffffff;
  --accent-color: #4440f6;
  --gray-color: #a8a8a8;
  --footer-color: #7a7a7a;
  --switcher-gray: #5f6775;
  --switcher-accent: #4b48db;
}
:root body.darkMode {
  --bg-color: #2e2e2e;
  --text-color: #f4f4f4;
  --switcher-gray: #f4f4f4;
  --switcher-accent: #4440f7;
}

body {
  font-family: 'Manrope';
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Regular.woff) format('woff'),
    url(../fonts/Manrope-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Medium.woff) format('woff'),
    url(../fonts/Manrope-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Bold.woff) format('woff'),
    url(../fonts/Manrope-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.woff) format('woff'),
    url(../fonts/Poppins-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.news__item {
  width: calc((100% - 30px) / 3);
  min-height: 675px;
  max-height: none;

  @include mq(tablet) {
    width: calc((100% - 60px) / 3);
    min-height: 400px;
    max-height: 400px;
  }
  @include mq(desktop) {
    width: calc((100% - 90px) / 4);
    min-height: 400px;
    max-height: 400px;
  }
}

.render-container--home {
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
}
