a,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

address {
  font-style: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  box-shadow: none;
}

.is-hidden {
  display: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto 0 auto;
  @include mq(tablet) {
    width: 768px;
  }
  @include mq(desktop) {
    width: 1280px;
  }
}

body {
 display: flex;
 flex-direction: column;
  font-family: 'Manrope';
  min-height: 100vh;
  background-color: var(--main--background-color);
  color: var(--main--text-color);
}
main {
  flex-grow: 1;
}
@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Regular.woff) format('woff'),
    url(../fonts/Manrope-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Medium.woff) format('woff'),
    url(../fonts/Manrope-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Bold.woff) format('woff'),
    url(../fonts/Manrope-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.woff) format('woff'),
    url(../fonts/Poppins-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.card {
  min-height: 469px;
  margin: 28px 0;

  /* ПРИБРАТИ РОБЛЯЧИ СТИЛІ КАРТКИ НОВИНИ */
  background-color: var(--additional-accent--text-color);
  /* ПРИБРАТИ РОБЛЯЧИ СТИЛІ КАРТКИ НОВИНИ */

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(mobile) {
    width: 288px;
    height: 640px;
  }

  @include mq(tablet) {
    width: 353px;
    height: 675px;
    margin: 0;
  }

  @include mq(desktop) {
    width: 395px;
    margin: 0;
  }
}

.bottom-container {
  display: flex;
  justify-content: center;
}

.render-container {
  @include mq(mobile) {
  }

  @include mq(tablet) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include mq(desktop) {
    gap: 31px;
  }
}

.header {
  border-bottom: 1px solid var(--border);
}

.header__container {
  display: flex;
  align-items: center;

  @include mq(tablet) {
    align-items: baseline;
  }
}