:root {
    --bg-color: #f4f4f4;
    --text-color: #111321; // all text
    --color-btn-favorite: #111321;
    --white-color: #ffffff;
    --accent-color: #4440f6;
    --gray-color: #a8a8a8; // date
    --footer-color: #7a7a7a;
    // switcher colors
    --switcher-gray-moon: #5f6775;
    // --switcher-accent: #4b48db;
    --switcher-accent-day: #4b48db;

    // DarkMode
    body.darkMode {
        --bg-color: #2e2e2e;
        --text-color: #f4f4f4;
        // switcher colors
        // --switcher-gray: #f4f4f4;
        --switcher-accent-day: #f4f4f4;

        --switcher-gray-moon: #4440f7;

    }
}

    /*Timing function for transition*/
    $timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
