:root {
  /* text-color  */
  --main--text-color: #111321;
  --header-border: rgba(0, 0, 0, 0.2);
  --header-border: rgba(0, 0, 0, 0.2);
  --first-additional--text-color: #a8a8a8;
  --second-additional--text-color: #4440f6;
  --weather--text-color: #ffffff;
  --category-on-news--text-color: #f4f4f4;
  --already-read--text-color: #00dd73;
  --accent--text-color: #4440f6;
  /* for hover,focus,accent */
  --additional-accent--text-color: #ffffff;
  /* for hover,focus,accent */
  --calendar--text-color: #000000;
  --categories-text-color: #4440f7;
  --categories-text-color-hover: #ffffff;
  --calendar-inactive-color: #5F6775;
  --categories-text-color: #4440f7;
  --categorieshover--text-color: #ffffff;

  /* background-color */
  --main--background-color: #f4f4f4;
  --weather--background-color: #4440f7;
  --weather-buttons--background-color: rgba(254, 254, 255, 0.3);
  --category-on-news--background-color: rgba(68, 64, 247, 0.7);
  --already-read-news--background-color: rgba(244, 244, 244, 0.4);
  --accent--background-color: #4b48db;
  /* for hover,focus,accent */
  --moon-stroke-color: #5f6775;
  --sun-stroke-color: #4b48db;
  --categories-background-color: #ffffff;
  --categories--background-color-hover: #4440f6;

  /* border-color */
  --main--border-color: #111321;
  --aditional--border-color: #4440f7;
  --categories-border-color: #4440f7;

  /* svg-color*/
  --calendar-button-arrow--svg-color: #a2a2a2;

  /* back-to-top-button */
  --back-to-top-btn-color: white;
  --back-to-top-btn-bg-color: #7270ca;
  --back-to-top-btn-bg-color-hover: #4440f7;

  --moon-stroke-color: #5F6775;
  --sun-stroke-color: #4B48DB;
  --categories-background-color: #ffffff;
  --categories-hover--background-color: #4440f6;
  --main--border-color: #111321;
  --aditional--border-color: #4440F7;
  --categories--border-color: #4440f7;
  --calendar-button-arrow--svg-color: #A2A2A2;
}

[dark] {
  /* text-color   */
  --main--text-color: #f4f4f4;
  --header-border: rgba(244, 244, 244, 0.2);
  --first-additional--text-color: #f4f4f4;
  --second-additional--text-color: #4440f6;
  --weather--text-color: #ffffff;
  --category-on-news--text-color: #ffffff;
  --already-read--text-color: #00dd73;
  --accent--text-color: #4440f6;
  --categories-text-color: #4440f7;
  --categorieshover--text-color: #ffffff;
  /* for hover,focus,accent */
  --additional-accent--text-color: #ffffff;
  /* for hover,focus,accent */
  --calendar--text-color: #000000;
  --categories-text-color-hover: #ffffff;

  /* background-color */
  --main--background-color: #2E2E2E;
  --weather--background-color: #4440f7;
  --weather-buttons--background-color: rgba(254, 254, 255, 0.3);
  --category-on-news--background-color: rgba(68, 64, 247, 0.7);
  --already-read-news--background-color: rgba(244, 244, 244, 0.4);
  --moon-stroke-color: #4b48db;
  --sun-stroke-color: #5f6775;
  --accent--background-color: #4b48db;
  --accent--background-color: #4b48db;
  --categories-background-color: #ffffff;
  --categories--background-color-hover: #4440f6;
  /* for hover,focus,accent */


  /* border-color */
  --main--border-color: #f4f4f4;
  --aditional--border-color: #4440f7;
  --categories-border-color: #4440f7;

  /* svg-color*/

  --calendar-button-arrow--svg-color: #a2a2a2;

  /* ScrollBtn */
  --back-to-top-btn-color: black;
  --back-to-top-btn-bg-color: white;
  --back-to-top-btn-bg-color-hover: wheat;


  --moon-stroke-color: #4B48DB;
  --sun-stroke-color: #5F6775;
  --accent--background-color: #4b48db;
  --categories-background-color: #ffffff;
  --categories-hover--background-color: #4440f6;
  --categories--border-color: #4440f7;
  --calendar-button-arrow--svg-color: #F4F4F4;

}