.modal-developer {position: fixed;
    top:0;
    left:0;
    background: rgba(13, 12, 12, 0.8);
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
    @media screen and (max-width: 479px)
    {
        padding: 93px 15px;} }

   
    .modal-developer.is-hidden .modal-footer 
    {transform: translate(-50%, -50%) scale(0.9);}

    .modal-footer {
      position: relative;
      max-width: 450px;
      width: 90%;
      overflow: auto;

      padding: 40px;
      background-color: transparent;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
      border-radius: 4px;
      &:hover{
        
        
      }

      @media screen and (min-width:480px) {position: absolute;
        top: 50%;
        left: 50%;
        max-width: 95%;
        max-height: 95%;
        padding: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        transform: translate(-50%, -50%);}
      @media screen and (min-width:1200px) {
        max-width: 95%;
        max-height: 95%;
        padding: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

    }

    .developer{
     position: relative;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     
      border: 1px solid transparent;
      border-radius: 10px;
      height: 380px;
      width: 300px;
      margin-right: 5px;
      &:hover{
        transform:translateY(-5px);
       
      }
    }

    .developers__link{
      &:hover {
       
    }}
    
    
  .developers__role{
    position: absolute;
    padding: 5px 10px;
    bottom: 14%;

    color: var(--main--text-color);
    background-color: var(--main--background-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    &-style{
      height: 10px;
      width: 290px;
      background-color: var(--main--background-color);
      position: absolute;
      bottom: 62px;
    }
  }

.developers__item{
  display: inline-flex;
  &:hover {
  }

}
.developer__svg{
  width: 50px;
  height: 50px;
  fill: white;
  border-radius: 50%;

  
  &:hover{
    fill: var(--already-read--text-color);
    
  }
}
.developers__name{
    position: absolute;
    top: 0;
    background-color: var(--category-on-news--background-color);
    color: var(--weather--text-color);
    
    padding: 4px 8px;
    margin: 15px 0px;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.render-deplovers{
  display: flex;
  // animation-name: move;
  // animation-duration: 8s;
  // animation-timing-function: linear;
  // animation-direction:alternate;
  


  // animation-iteration-count: infinite;

  // &:hover {
  //   animation-play-state: paused;
    
  // }
  // @keyframes move {
  //   0% {
  //     transform: translatex(5%);
  //   }
  
  //   100% {
  //     transform: translatex(-67%);
  //   }}

}

.developers__photo{


  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: aquamarine;
  width: 290px;
  height: 301px;
  margin-top: 6px;
  object-fit: cover;
  &:hover {
    
  }
}
.developers__container{
position: absolute;


display: flex;
align-items: center;
justify-content: center;
align-items: flex-end;

gap: 1em;
bottom:0;
left: 0;
height: 70px;
width: 290px;
margin: 2px 4px;
background-color: var(--weather--background-color);
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
&:hover{
  
}
}
.developer__card{

}


    .link-style {
margin: 4px;
    }