.theme-btn {
    display: flex;
}

.theme-btn__dark__text{
@media screen and(max-width:1200px) {
        display: none;
    }
}
.theme-btn__dark__toggler{
    display: none;
}
.theme-btn__icon{
    @media screen and(min-width:1199px) {
            display: none;
        }
}