<nav class="navigation">

    <ul class="navigation__list">

        <li class="navigation__item navigation__item--home ">
            <a href="./index.html" class="navigation__link navigation__item--current">
                <!-- <svg class="icon home-icon" width="32px" height="32px">
                    <use href="/src/img/sprite.svg#icon-home"></use></svg> -->
                Home
            </a>
        </li>

        <li class="navigation__item navigation__item--favorite js__my-lirbary-link "> 
            <a href="./favorite.html" class="navigation__link">
                <!-- <svg class="icon home-icon" width="32px" height="32px">
                    <use href="/src/img/sprite.svg#icon-favorite"></use>
                </svg> -->
                
                Favorite
            </a>
        </li>

        <li class="navigation__item navigation__item--read js__my-lirbary-link "> 
            <a href="./read.html" class="navigation__link">
                <!-- <svg class="icon home-icon" width="32px" height="32px">
                    <use href="/src/img/sprite.svg#icon-read"></use>
                </svg> -->
                Read
            </a>
        </li>

    </ul>

</nav>