<div class="container-pag">
    <div class="pag">
        <button class="next-btn">
            <svg class="icon-prew" width="8" height="13">
                <use href="../../images/icons/sprite.svg#icon-prew"></use>
            </svg>
            Prew
        </button>
        <div id="paginatiob"></div>
        <button class="next-btn">
            <svg class="icon-next" width="6" height="9">
                <use href="../../images/icons/sprite.svg#icon-next"></use>
            </svg>
            Next
        </button>
    </div>
</div>