<!-- <div class="page-container pagination">
    <div class="pagin">
      <button class="prev-page btn-prev">
        <svg class="icon-prew" width="8" height="13">
          <use href="./img/sprite.svg#prew-arrow"></use>
        </svg>
        <span class="s_prew btn-prev">Prew</span>
      </button>
      <div id="pagination"></div>
      <button class="next-page btn-next">
        <span class="s_prew btn-prev">Next</span>
        <svg class="icon-next" width="6" height="9">
          <use href="./img/sprite.svg#next-arrow"></use>
        </svg>
      </button>
    </div>
</div> -->

<div class="page-container pagination">
  <div class="pagin">
    <button type="button" class="prev-page btn-prev js-prev-page" disabled>
      <svg class="icon-prew" width="8" height="13">
        <use href="./img/sprite.svg#prew-arrow"></use>
      </svg>
      <span class="s_prew btn-prev">Prew</span>
      <!-- <a class="fas fa-angle-left btn-prev">
        <span class="s_prew btn-prev">&#8249; Prew</span>
      </a> -->
    </button>
    <ul id="pagination">
      
        <!-- <li class="pg-item"><a class="pg-link">1</a></li>
        <li class="pg-item dots"><a class="pg-link">...</a></li>
        <li class="pg-item"><a class="pg-link">3</a></li>
        <li class="pg-item"><a class="pg-link">4</a></li>
        <li class="pg-item"><a class="pg-link">5</a></li>
        <li class="pg-item dots"><a class="pg-link">...</a></li>
        <li class="pg-item"><a class="pg-link">7</a></li>
       -->
    </ul>
    <button class="next-page btn-next js-next-page">
      <span class="s_next btn-next">Next</span>
      <svg class="icon-next" width="6" height="9">
        <use href="./img/sprite.svg#next-arrow"></use>
      </svg>
      <!-- <a class="fas fa-angle-right btn-next">
        <span class="s_next btn-next">Next &#8250;</span>
      </a> -->
    </button>
    </button>
  </div>
</div>