<div class="page-container pagination">
  <div class="pagin">
    <button type="button" class="prev-page btn-prev js-prev-page" disabled>
      <svg class="icon-prew js-prev-page" width="8" height="13">
        <use href="./img/sprite.svg#prew-arrow"></use>
      </svg>
      <span class="s_prew btn-prev js-prev-page">Prew</span>
    </button>
    <ul id="pagination">
    </ul>
    <button class="next-page btn-next js-next-page">
      <span class="s_next btn-next js-next-page">Next</span>
      <svg class="icon-next js-next-page" width="6" height="9">
        <use href="./img/sprite.svg#next-arrow"></use>
      </svg>
    </button>
    </button>
  </div>
</div>