<div class="theme-btn">

  <button class="theme-btn__ligth">
      <svg class="theme-btn__icon theme-btn__icon--side">
          <use></use>
      </svg>
      <svg class="theme-btn__icon theme-btn__icon--side theme-btn__icon--dark is-hidden">
        <use></use>
      </svg>
  </button>

  <span class="theme-btn__toggle">
    <input id="checkbox" class="theme-btn__checkbox" type="checkbox" />
    <label for="checkbox"></label>
  </span>

  <button class="theme-btn__dark">
      <svg class="theme-btn__icon theme-btn__icon--side">
          <use></use>
      </svg>
      <svg class="theme-btn__icon theme-btn__icon--side theme-btn__icon--dark is-hidden">
        <use></use>
      </svg>
  </button>

</div>