<div class="theme-toggler">
  <span class="theme-toggler__text">Light</span>
  <span class="theme-toggler__icon">
    <svg width="16px" height="16px" class="toggle-icon">
      <use href="/src/img/sprite.svg#icon-sun-color"></use>
    </svg>
  </span>
  <span class="toggle">
    <input id="checkbox" class="checkbox" type="checkbox" />
    <label for="checkbox"></label>
  </span>
  <span class="theme-toggler__text">Dark</span>
  <svg width="16px" height="16px" class="theme-toggler__icon">
    <use href="/src/img/sprite.svg#icon-sun-color"></use>
  </svg>
  <span class="toggle-mobile-icon">U+1F318</span>
</div>
