<footer class="footer">
    <div class="footer__container dev__container">
        <div class="footer__box"> 
                <p class="footer__text">
            &#169 2023 | All Rights Reserved | </p> 
        </div>

        <div class="footer__box"> 
            <p class="footer__text">&nbsp &nbsp Developed with </p> 
              <svg class="footer__icon" width="20px" height="20px" >
                <use href="./img/sprite.svg#icon-heart-fill"></use>
            </svg>
            <p class="footer__text">by</p>

            <button type="button" class="footer__btn" data-modal-open="developers">
                GoIT Students
            </button>
        </p> 
     </div>
    </div>
</footer>