<footer class="footer">
    <div class="container">
        <div class="footer_text__box">
            <p class="footer__text">&#169 2023 | <span data-lang="reserved">All Rights Reserved</span>  | </p>

        </div>
        <div class="footer_text__box">
            <p class="footer__text">Developereloped with</p>
            <span>
                <svg class="icon__heart" width="24" height="24">
                    <use href="./img/sprite.svg#icon-heart-fill"></use>
                </svg>
            </span>
            <p class="footer__text">
                <span>by</span>
            </p>
            <button type="button"
                class="team_modal_btn" data-modal-open="developers">GoIT
                Students </button>
        </div>

    </div>
</footer>