<header class="header">
    <div class="container">
        <include src="partials/components/logo.html"></include>
        <div class="header__mobile-menu-container">
          <include src="partials/components/navigation.html"></include>
          <include src="partials/components/auth-btns-header.html"></include>
          <include src="partials/components/switcher-language.html"></include>
          <include src="partials/components/switcher-theme.html"></include>
        </div>
        
        <include src="partials/components/form-search.html"></include>
        <button class="header__search-form-opening-btn" type="submit">
          <svg class="header__search-form-opening-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-search-black"></use>
          </svg>
        </button>

        <button type="button" class="header__mobile-menu-button js-open-menu">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
    </div>
</header>



