<main>
  <div class="container">
    <div class="top-container">
      <div class="categories-render-container">
        <ul class="categories-render-container__list-desktop"></ul>
        <ul class="categories-render-container__list-mobile"></ul>
        <ul class="categories-render-container__list-tablet"></ul>
        <div class="categories-render-container__other-categories">
          <button class="other-categories__button">
            <span class="other-categories__button-text">Others</span>
            <span class="other-categories__button-text-categories">Categories</span>
            <svg class="other-categories__icon-arrow" width="14" height="14">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
          <div class="other--categories__filters">
            <ul class="other--categories__filters-list"></ul>
          </div>
        </div>
      </div>
      <include src="partials/components/calendar.html"></include>
    </div>
    <include src="partials/components/slider.html"></include>
    <div class="bottom-container">
            <div class="negative negative-search is-hidden">
                <p class="negative___title">We haven't found news from this search</p>
                <img
                class="negative___picture"
                src="./img/plug-Mob.png"
                alt="underfined-picture"
                sizes="(min-width: 1280px) 601px, (min-width: 768px) 560px, (max-width: 767px) 248px"
                srcset="
                   ./img/plug-Mob.png 248w,
                   ./img/plug-Tab.png  560w,
                   ./img/plug-Desc.png   601w,
                   ./img/plug-Mob2x.png  496w,
                   ./img/plug-Tab2x.png  1120w,
                   ./img/plug-Desc2х.png  1202w
                "
              />
    </div>

    <ul class="render-container render-container--home">

    </ul>

      
    </div>
  </div>
</main>

