<div class="header-toggler">
  <span class="toggle-text">Light</span>
  <svg width="15.72" height="15.72" class="toggle-icon">
    <use href="/src/img/sprite.svg#icon-toggle-light"></use>
  </svg>
  <span class="toggle">
    <input id="checkbox" class="checkbox" type="checkbox" />
    <label for="checkbox"></label>
  </span>
  <span class="toggle-text">Dark</span>
  <svg width="15.72" height="15.72" class="toggle-icon">
    <use href="/src/img/sprite.svg#icon-toggle-dark"></use>
  </svg>
</div>
