@import './utils/variables';
@import './utils/mixins';
@import './utils/general';
@import './utils/fonts';

@import './layouts/modal-auth';

@import './layouts/switcher-theme';

@import './components/calendar';

@import './components/form-search';

@import './components/news';

@import './components/categories';
/* 
@import '';
@import ''; */
