@charset "UTF-8";
/*Timing function for transition*/
a,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

address {
  font-style: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  box-shadow: none;
}

.is-hidden {
  display: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: "Manrope";
  height: 100vh;
  background-color: var(--main--background-color);
  color: var(--main--text-color);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff) format("woff"), url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.woff) format("woff"), url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff) format("woff"), url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.card {
  min-height: 469px;
  margin: 28px 0;
  /* ПРИБРАТИ РОБЛЯЧИ СТИЛІ КАРТКИ НОВИНИ */
  background-color: var(--additional-accent--text-color);
  /* ПРИБРАТИ РОБЛЯЧИ СТИЛІ КАРТКИ НОВИНИ */
}
.card:first-child {
  margin-top: 0;
}
.card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 320px) {
  .card {
    width: 288px;
    height: 640px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 353px;
    height: 675px;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .card {
    width: 395px;
    margin: 0;
  }
}

.bottom-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .render-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .render-container {
    gap: 31px;
  }
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.woff) format("woff"), url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.woff) format("woff"), url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.woff) format("woff"), url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.modal-auth {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

/* .theme-btn {
    width: 148px;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    @media screen and(min-width:1199px) {
           width: 98px;
        }
}
.theme-btn__text {
    color: #4440f6;
    @media screen and(max-width:1200px) {
            display: none;
        }
}

.theme-btn__icon{
    width: 18.67px; 
    height: 18.67px;
    color: #4440f6;
    @media screen and(min-width:1199px) {
            display: none;
        }
}
.theme-btn-toggler{
    position: relative;
    width: 40px;
        height: 20px;
        margin-right: 8px;
        margin-left: 8px;
        @media screen and(min-width:1199px) {
                margin-right: 12px;
                margin-left: 12px;
            }
    }
.theme-btn__dark{
    opacity: 0.4;
}

.theme-btn__dark__toggler{
    display: none;
} */
.theme-btn {
  width: 148px;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (min-width: 1199px) {
  .theme-btn {
    width: 98px;
  }
}

@media screen and (max-width: 1200px) {
  .theme-btn__text {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .theme-btn__icon {
    display: none;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  box-sizing: border-box;
  border: 0.604701px solid #4B48DB;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  position: relative;
  height: 20px;
  width: 40px;
  margin-left: 12px;
  margin-right: 12px;
}

.label .ball {
  background-color: #4B48DB;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  height: 16px;
  width: 16px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(20px);
  background-color: #FFFFFF;
}

.checkbox:checked + .label {
  background: #4B48DB;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.top-container {
  display: flex;
}

.days li .inactive {
  color: #aaa;
}

.calendar-input.isActive::-moz-placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
}

.calendar-input.isActive:-ms-input-placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
}

.calendar-input.isActive::placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
}

.calendar-input.isActive {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
  border: 1px solid #4440f7;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar-wrapper.is-hidden-wrapper {
  pointer-events: none;
}

.calendar-wrapper.is-hidden-wrapper > .calendar-wrapper__container {
  transform: translateY(-104%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar-form__text {
  display: none;
  display: inline;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: var(--text-color);
}

.calendar-form {
  display: flex;
  position: relative;
  margin-left: 52px;
  padding-bottom: 15px;
}

.calendar-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  width: 152px;
  height: 31px;
  padding: 5px 12px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 168px;
  height: 31px;
  font-size: 14px;
  line-height: 1.5;
  gap: 18px;
}

.calendar__button-calendar {
  position: absolute;
  fill: #4440f6;
  margin-left: 12px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-calendar.switchedColor {
  z-index: 1;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__button-arrow {
  margin-left: 12px;
  display: flex;
  position: absolute;
  z-index: 1;
  fill: var(--accent-color);
  left: 130px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-arrow-icon {
  cursor: pointer;
}

.calendar__button-arrow.switched {
  fill: var(--white-color);
  transform: rotateX(180deg);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-back {
  fill: var(--accent-color);
}

.calendar-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  display: block;
  width: 250px;
  height: 350px;
  right: 0px;
  transform: translateY(40px);
  pointer-events: auto;
}

.calendar-wrapper__container {
  cursor: default;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  margin-left: 0;
  padding: 16px 16px 20px 16px;
  width: 250px;
  right: 0px;
  background: var(--white-color);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar-switcher {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  height: 44px;
  margin-bottom: 2px;
  align-items: center;
}

.current-date {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: "case" on;
  color: #000000;
}

.calendar-icons {
  display: flex;
  color: var(--accent-color);
}

.calendar-icons span {
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  fill: var(--accent-color);
  display: flex;
}

.calendar-icons span:last-child {
  margin-right: -10px;
}

.calendar-icons span:hover {
  background: var(--white-color);
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li {
  width: 14.2857142857%;
  font-size: 1.07rem;
  margin-bottom: 14px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.078px;
  color: rgba(60, 60, 67, 0.3);
}

.calendar .days li {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.38px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
}

.calendar .days li:nth-last-child(-n+7) {
  margin-bottom: 0;
}

.days li.active {
  color: var(--white-color);
}

.days li.inactive {
  color: #aaa;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 28px;
  width: 28px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: var(--accent-color);
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.search-form {
  position: relative;
}

.search-form__btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 31px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-form__input {
  width: 173px;
  height: 31px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 48px;
  border-radius: 20px;
  border: 1px solid var(--text-color);
  outline: transparent;
}
@media screen and (min-width: 768px) {
  .search-form__input {
    width: 213px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .search-form__input {
    width: 288px;
  }
}

.search-form__label {
  position: absolute;
  left: 48;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Poppins";
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--main--text-color);
  opacity: 0.4;
  border-right: 1px solid var(--main--text-color);
  padding-right: 8px;
}
@media screen and (min-width: 768px) {
  .search-form__label {
    font-size: 14px;
    line-height: 1.29;
  }
}

.search-form__input:focus + .search-form__label {
  opacity: 0;
}

.search-form__input:not(:-moz-placeholder-shown) + .search-form__label {
  opacity: 0;
}

.search-form__input:not(:-ms-input-placeholder) + .search-form__label {
  opacity: 0;
}

.search-form__input:not(:placeholder-shown) + .search-form__label {
  opacity: 0;
}

.footer {
  display: flex;
  padding: 15px;
  background-color: rgb(122, 122, 122);
  height: 100px;
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.footer__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
}
@media screen and (max-width: 320px) {
  .footer__text {
    font-size: 18px;
    font-weight: 600;
  }
}

.footer__icon {
  display: inline;
  margin: 0 5px;
  fill: aqua;
  stroke: beige;
}

.footer__btn {
  margin-left: 3px;
  outline: none;
  background-color: transparent;
  color: inherit;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .footer__btn {
    font-size: 18px;
    font-weight: 600;
  }
}

.news__container-img {
  position: relative;
  height: 395px;
}
@media screen and (min-width: 320px) {
  .news__container-img {
    width: 288px;
  }
}
@media screen and (min-width: 768px) {
  .news__container-img {
    width: 353px;
  }
}
@media (min-width: 1280px) {
  .news__container-img {
    width: 395px;
  }
}

.news__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.news__item {
  position: relative;
}

.news__title {
  margin: 20px 16px;
}

.news__abstract {
  margin: 0px 16px 0px 16px;
}

.news__favorite {
  margin: 12px 12px;
  padding: 6px 12px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news__link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 16px;
  margin-bottom: 6px;
  color: rgb(68, 64, 246);
}

.news__date {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 16px;
  margin-bottom: 6px;
}

/* 
@import '';
@import ''; *//*# sourceMappingURL=index.css.map */